# 1. 자료구조와 알고리즘, 코딩테스트


- 기억해두자! 예외처리! (0과 1로 나누는 등)
- 속도개선 (정답이 맞아도 시간제한 있는 경우)
    1. class로 구현
    2. 메서드 대신 슬라이싱 구현(슬라이싱은 C로 구현되어 있어 메서드보다 통상 8배정도 빠릅니다.)하세요. 다만 공간복잡도가 상승할 수 있습니다.<br>(리스트.reverse(), reversed(리스트), 리스트[::-1])
    3. for문 대신 list comprehension을 사용하기
    4. 재귀는 최후의 수단


1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가?
8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다.<br>
(※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)
문제 링크 : https://codingdojang.com/scode/393

In [ ]:
[1,2,3,1,1,1].count(1)

4

In [ ]:
dir([1,2,3]) 
#append부터 sort까지 다 암기하고 있어야한다
#문제도 풀다가 안풀리면 풀이를 그냥 암기해라

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
[1,2,1,1,1,4,43,3,5,11,111,11].count(1)

4

In [ ]:
# 낱개 1을 세기 위해 문자열로 접근
str([1,2,1,1,1,4,43,3,5,11,111,11]).count("1")

11

In [ ]:
# 정답
str(list(range(10000))).count("8")

4000

Map 활용하기 (map, zip)

문자 배열을 정수로 변환하는 map(int, L)

In [ ]:
L =  ['1','11','125']
[int(i) for i in L]
sum([int(i) for i in L])

# 문자열 정수로 변환 map을 많이 활용한다!! map(int, L)
list(map(int, L))

[1, 11, 125]

In [ ]:
sum(map(int, L))

137

In [ ]:
# map 과 zip은 쌍으로 다닌다
def 함수(x):
    return x ** 2

def 함수2(x):
    return x * 2

print(list(map(함수,[1,2,3,4])))
print(list(map(함수,range(5))))
print(list(map(함수2,'abc')))

[1, 4, 9, 16]
[0, 1, 4, 9, 16]
['aa', 'bb', 'cc']

함수를 재활용 할거라면 def 형태로 선언, 아니라면 lambda함수를 Map과 많이 활용

In [ ]:
numbers = [1, 2, 3, 4, 5]
map(lambda x: 2*x, numbers)

In [1]:
# 리스트 안의 차이로 새로운 리스트 만들기
def 함수(x):
    return x[1] - x[0]


ㅣ = [[1,3],[2,5],[3,10],[1,5],[6,7]]

list(map(함수, ㅣ))

[2, 3, 7, 4, 1]

In [ ]:
list(map(lambda x:x[1]-x[0], ㅣ))

[2, 3, 7, 4, 1]

In [ ]:
#zip 보통 2개씩 묶을때 사용
list(zip('abcde','12345','원투쓰포파'))

[('a', '1', '원'),
 ('b', '2', '투'),
 ('c', '3', '쓰'),
 ('d', '4', '포'),
 ('e', '5', '파')]

In [ ]:
# 문제: 차를 구하고 문자는 보존하기
list(zip(range(10), 'hello world', [30,50,60,100,30,4,10,2,30]))

[(0, 'h', 30),
 (1, 'e', 50),
 (2, 'l', 60),
 (3, 'l', 100),
 (4, 'o', 30),
 (5, ' ', 4),
 (6, 'w', 10),
 (7, 'o', 2),
 (8, 'r', 30)]

In [ ]:
list(map(lambda x: [x[2]-x[0], x[1]]
    ,zip(range(10), 'hello world', [30,50,60,100,30,4,10,2,30]))
)

[[30, 'h'],
 [49, 'e'],
 [58, 'l'],
 [97, 'l'],
 [26, 'o'],
 [-1, ' '],
 [4, 'w'],
 [-5, 'o'],
 [22, 'r']]


1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오. (단 점들의 배열은 모두 정렬되어있다고 가정한다.)

예를들어 S = [1, 3, 4, 8, 13, 17, 20] 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.

문제링크 : https://codingdojang.com/scode/408

In [ ]:
s = [1, 3, 4, 8, 13, 17, 20]
list(zip(s,s[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

## 정렬 활용하기
sorted(list())<br> key에 함수활용 return값은 정렬하고자 하는 기준<br>
`sorted(list(map(함수, zip(s,s[1:]))), key=lambda x:x[0], reverse=False)`

In [ ]:
def 함수(value):
    return [value[1] -value[0], (value[0], value[1])]

s = [1,3,4,8,13,17,20]
list(map(함수, zip(s,s[1:])))

#가장 적은 차이: 정렬! (또는 Min)
# .sort => 데이터 분석을 할때에는 권고사항X
# sorted -> 데이터 분석을 할 때 권장

sorted(list(map(함수, zip(s,s[1:]))), key=lambda x:x[0], reverse=False)
# key는 기준, reverse는 오름차, 내림차 전환

[[1, (3, 4)],
 [2, (1, 3)],
 [3, (17, 20)],
 [4, (4, 8)],
 [4, (13, 17)],
 [5, (8, 13)]]

In [ ]:
#정렬 연습
data = [
  {
    "_id": "638026858bf078d97cca1a8c",
    "index": 0,
    "guid": "e57c934d-deec-4493-8f41-6bf8619873f0",
    "age": 31,
    "name": "Robles Carrillo",
    "gender": "male"
  },
  {
    "_id": "638026851b762796343e2675",
    "index": 1,
    "guid": "2ad2599b-f000-4bf1-9947-8d4c2cf2cd9d",
    "age": 39,
    "name": "Leblanc Noel",
    "gender": "male"
  },
  {
    "_id": "63802685087592f94b580004",
    "index": 2,
    "guid": "df74c35e-5b6d-4e6a-991f-399cbe2b12cc",
    "age": 30,
    "name": "Riddle Rodriguez",
    "gender": "male"
  },
  {
    "_id": "63802685ec7d3feb98c3e41f",
    "index": 3,
    "guid": "ac597774-9e9f-4989-ab99-d983124b8515",
    "age": 35,
    "name": "Kendra Winters",
    "gender": "female"
  },
  {
    "_id": "638026853ba824f513371642",
    "index": 4,
    "guid": "92e8dd14-dac7-42f4-90b5-09ba4eda170d",
    "age": 35,
    "name": "Christy Edwards",
    "gender": "female"
  },
  {
    "_id": "638026858fb3792865545c84",
    "index": 5,
    "guid": "2c8d16d4-39d7-460c-a3c1-ea4539d9de7b",
    "age": 39,
    "name": "Barnett Valenzuela",
    "gender": "male"
  }
]

In [ ]:
# 이름의 길이 기준
sorted(data, key= lambda x: len(x["name"]))
# 나이 기준 정렬
sorted(data, key= lambda x: x["age"])

# 필요한 데이터만 뽑아내기
def 함수(v):
    return [v['name'], v['age']]
list(map(함수, sorted(data, key=lambda x:len(x["name"]))))

[['Leblanc Noel', 39],
 ['Kendra Winters', 35],
 ['Robles Carrillo', 31],
 ['Christy Edwards', 35],
 ['Riddle Rodriguez', 30],
 ['Barnett Valenzuela', 39]]

In [ ]:
def 함수2(value):
    return abs(value[1]-value[0])

def 함수3(value):
    return len(value[2])

# key에 함수를 활용하고 return값에 기준으로 삼고자 하는 코드 입력

sorted([(10, 2), (3, 5), (7, 11), (5, 6)]) # 기본
sorted([(10, 2), (3, 5), (7, 11), (5, 6)], key= lambda x: x[1]) # 두번째 요소 기준
sorted([(10, 2), (3, 5), (7, 11), (5, 6)], key=함수2) # 문자열 길이 기준, len 안쓰면 그냥 알파벳순
sorted([(10, 2, 'aca'), (3, 5, 'aabaa'), (7, 11, 'abaa'), (5, 6, 'ba')], key=함수3)

[(5, 6, 'ba'), (10, 2, 'aca'), (7, 11, 'abaa'), (3, 5, 'aabaa')]

- id() 객체의 고유 주소값
- type() 타입을 반환

In [ ]:
id([1,2,3])
id(10), id(10) # 같다
x = 1000
y = x
z = y
print(id(x),id(y),id(z))

140342453264016 140342453264016 140342453264016

In [ ]:
# for문으로 최소값 구하기 100-> 1 ->1 
s = [100, 1,3,4,8,13,17,20]
m = float('inf')
for i in s:
    if i < m:
        m=i
print(m)

# 최솟값을 구하기 위해서는 최댓값이 필요하고
# 최댓값을 구하기 위해서는 최솟값이 필요합니다.

1

In [ ]:
array = [149, 180, 192, 170]
height = 167
sorted(array)
a=0
for i in array:
    if i > height:
        print(i)
        a+=1
print(a)

180
192
170
3

In [ ]:
# 두 수의 차이의 최솟값 구하기
s  = [1, 3, 4, 8, 13, 17, 20]
최솟값 = float('inf')
인덱스 = 0

for i in range(len(s)-1):
    if (s[i+1] - s[i]) < 최솟값:
        최솟값 = s[i+1] - s[i]
        인덱스 = i

print(s[인덱스], s[인덱스+1])

3 4

기본 자료구조 및 알고리즘
1. 스택과 큐
2. 연결리스트
3. 트리와 그래프
    * 3.1 트리 구현
    * 3.2 트리의 순회
4. 정렬 알고리즘
    * 4.1 선택정렬
    * 4.2 삽입정렬
    * 4.3 병합정렬
    * 4.4 퀵정렬
5. 페이지 교체 알고리즘
6. 슬라이딩 윈도우와 투 포인터 알고리즘

## 스택과 큐
* 스택은 LIFO(Last-In-First-Out, 후입선출)
* 큐는 FIFO(First-In_First-Out, 선입선출)
* 깊스너큐 깊이는 스택, 너비는 큐

* ADT(Abstract Data Type)
    * S.top(): 스택의 가장 윗 데이터를 반환한다. 만약 스택이 비었다면 이 연산은 정의불가 상태이다.
    * S.pop(): 스택의 가장 윗 데이터를 삭제한다. 스택이 비었다면 연산 정의불가 상태.
    * S.push(): 스택의 가장 윗 데이터로 top이 가리키는 자리 위에(top = top + 1) 메모리를 생성, 데이터 x를 넣는다.
    * S.empty(): 스택이 비었다면 1을 반환하고,그렇지 않다면 0을 반환한다.

In [2]:
#스택
s = [10,20,30,40,50]
s.append(100) #push
s.pop()

#큐
s = [10,20,30,40,50]
s.append(100) #push
s.pop(0) #pop

10

### 연결리스트
* 연결리스트, 메모리 효율을 위해 사용되는 경우가 많음
* 개념 : https://en.wikipedia.org/wiki/Linked_list

In [ ]:
a = 10
print(type(a))

<class 'int'>

클래스 Class

In [ ]:
#클래스 예시 현실세계의 자동차를 컴퓨터 세계로 self는 일단 꼬박꼬박 써주기
class Car:
    maxSpeed = 100
    maxPeople =6
    def start(self):
        print('출발하였습니다')
        pass
        return #None
    def stop(self):
        print('출발하였습니다')
        pass
        return
    def append(self, s):
        print(f'{s}을(를) 추가합니다!')
        # s는 파라미터

# 클래스와 인스턴스
k3 = Car()
k5 = Car()
k7 = Car()

#Car.start() -> 자동차 공장을 출발시키는 것이다.
# 클래스는 붕어빵틀 인스턴스는 붕어빵

k3.start()
k3.append('경고등')

출발하였습니다
경고등을(를) 추가합니다!

In [ ]:
dir(k3)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'append',
 'maxPeople',
 'maxSpeed',
 'start',
 'stop']

In [ ]:
l =[1,2,3]
print(type(l))
# l은 class 'list'의 <인스턴스>

<class 'list'>

In [ ]:
class Stack:
    def __init__(self): # 최초에 인스턴스가 생성 될 때
        self.배열 = []
        
    def push(self, data):
        self.배열.append(data)

    def pop(self, index):
        if(index > len(self.배열)-1):
            return self.배열.pop()
        return self.배열.pop(index)

    def bottom(self):
        self.배열[0]

    def top(self):
        self.배열[-1]

    def empty(self):
        self.배열 == []

s = Stack()
s.push(10)
s.push(20)
s.push(30)
s.push(40)
s.push(50)
s.push(60)
s.push(70)
s.pop(2)
s.배열

[10, 20, 40, 50, 60, 70]

Quiz)
* head -> [90, next] -> [2, next] -> [77, next] -> [35, next] -> [21, next] -> None
* 35를 출력해주세요.

In [ ]:
연결리스트 = {
    'head': None
}

node1 = {'value' : 90, 'next' : None}
node2 = {'value' :  2, 'next' : None}
node3 = {'value' : 37, 'next' : None}
node4 = {'value' : 35, 'next' : None}
node5 = {'value' : 21, 'next' : None}
 
연결리스트['head'] = node1
node1['next'] = node2
node2['next'] = node3
node3['next'] = node4
node4['next'] = node5

연결리스트

{'head': {'value': 90,
  'next': {'value': 2,
   'next': {'value': 37,
    'next': {'value': 35, 'next': {'value': 21, 'next': None}}}}}}

In [ ]:
연결리스트['head']['next']['next']['next']['value']

35

In [ ]:
#node를 class의 인스턴스로 만들 것임
# 대용량의 문제 효율성 테스트가 목적

class Node:
    def __init__(self,data):
        print(f'{data}가 입력되었습니다.')
        self.data = data
        self.next = None

In [ ]:
class Node:
    def __init__(self, data):
        print(f'{data}가 입력되었습니다.')
        self.data = data
        self.next = None

node1 = Node(90)
node2 = Node(2)
node3 = Node(37)
node4 = Node(35)
node5 = Node(21)

node1.next = node2
node2.next = node3
node3.next = node4
node4.next = node5

node1.next.next.next.data

90가 입력되었습니다.
2가 입력되었습니다.
37가 입력되었습니다.
35가 입력되었습니다.
21가 입력되었습니다.

35